/* Write your CSS here */
.app-container {
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.notifications-list {
  list-style-type: none;
}

.icon-and-heading-paragraph {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alert-icon {
  margin-right: 10px;
  margin-bottom: 35px;
  height: 25px;
  width: 25px;
}

.main-heading {
  font-size: 30px;
  color: #0f172a;
  margin-bottom: 10px;
}

.heading {
  font-size: 20px;
}

.paragraph {
  font-size: 16px;
  font-weight: 600;
  color: #64748b;
}

.success-icon {
  color: #2dca73;
}

.success-heading {
  color: #2dca73;
}

.error-icon {
  height: 30px;
  width: 30px;
  color: #ff0b37;
  margin-bottom: 56px;
}

.error-heading {
  color: #ff0b37;
}

.warning-icon {
  color: #ffb800;
  margin-bottom: 56px;
}

.warning-heading {
  color: #ffb800;
}

.info-icon {
  color: #0f81e0;
}

.info-heading {
  color: #0f81e0;
}
